@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  background-color: aliceblue;
  color: #2a2a2a;
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  margin-block: 0;
}

img {
  display: block;
  max-width: 100%;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.search-form {
  background-color: royalblue;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 90px;
  margin-bottom: 20px;
  gap: 30px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 3px 2px teal;
  border-radius: 15px;
}

.photo-card img,
.photo-card a {
  border-radius: 15px 15px 0 0;
}

.photo-card img {
  object-fit: cover;
}
.photo-card a {
  flex-basis: calc((100% - 90px) / 4);
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 16px 0 16px;
  margin: 0;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-more,
.search-form button {
  font-weight: 600;
  background-color: transparent;
  color: #3b3b3b;
  min-height: 60px;
  padding: 16px 24px;
  margin: 0;
  cursor: pointer;
  outline: none;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.load-more:hover,
.search-form button:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

input {
  background-color: aliceblue;
  font-size: 18px;
  margin-right: 12px;
  padding: 10px 10px 10px 5px;
  width: 400px;
  border: none;
  border-bottom: 1px solid #757575;
  border-radius: 10px;
}

.search-form button {
  background-color: aliceblue;
  min-height: 42px;
  padding: 12px 18px;
}
